
<div class="about-book">
        <div class="picture">
            <img src= <%= data.img %> alt=<%= data.name %> width= "340">
        </div>
            <div class="autor-and-name">
                <p class="book-name"><%= data.name %></p>
                <p class="autor-name"><%= data.author %></p>
            </div>
                <div class="rating">
                    <div class="general-mark">
                        <img src="/public/img/green-star.png" alt="Звезда" height="34" width="38">
                        <p class="rating-number">4</p>
                    </div>
                    <div class="stars">
                        <p>Оценить</p>
                        <% for (let i = 0; i < 5; i++) { %> 
                            <img src="/public/img/gray-star.png" alt="Звезда" height="34" width="38">
                        <% } %>
                    </div>
                    <div class="number-of-bought">
                        <p>Купили более 10314 раз</p>
                    </div>
            </div>
            <div class="table-about">
                <table>
                    <tr>
                        <td>ID товара</td>
                        <td><%= data.ID %></td>
                    </tr>
                    <tr>
                        <td>Издательство</td>
                        <td><%= data.publisher %></td>
                    </tr>
                    <tr>
                        <td>Год издания</td>
                        <td><%= data.creatingDate %></td>
                    </tr>
                    <tr>
                        <td>Кол-во страниц</td>
                        <td><%= data.nOfPages %></td>
                    </tr>
                    <tr>
                        <td>Тип обложки</td>
                        <td><%= data.binding %></td>
                    </tr>
                    <tr>
                        <td>Возрастные<br>ограничения</td>
                        <td><%= data.restriction %></td>
                    </tr>
                </table>
            </div>
        
        <div class="description">
            <p class="description-name">Описание</p>
            <p class="description-concretely"> <%- data.description %> </p>
        </div>
        <div class="button-menu">
            <div class="availability">
                <img src="/public/img/availability.png" alt="Галочки">
                <p>В наличии</p>
            </div>
            <p class="price"><%= data.price %></p>
            <a href="/cart" class="in-basket">В корзину</a>
            <a class="btn-like" href="#"><img src="/public/img/mark.png" alt="В закладки" height="53" ></a>
        </div>
</div>



<link rel="stylesheet" href="/public/css/about-book.css">