<div class="book-card">
    <a href= <%="/product/" + datas.id %>><img class" src=<%= datas.img %> alt="Книга" height="270"></a>
    <div>
        <a href="/product"><p class="book-name"><%= datas.name %></p></a>
        <a href="/product"><p class="autor-name"><%= datas.author %></p></a>
    </div>
    <a class="in-basket" href="/cart">
            <p class="price-in-card"><%= datas.price %></p>   
        В корзину
    </a>
    <button class="in-mark">
        <img src="/public/img/mark.png">
        В закладки
    </button>
    <div class="stroke"></div>
</div>

<link rel="stylesheet" href="/public/css/book-card.css">