<div class="like-card">
    <div class="like-content">
        <div class="picture">
            <a href="<%= /product/ + datas.ID %>">
                <img src=<%= datas.img %> alt="Книга" height="230">
            </a>
        </div>
        <div class="text-content">
            <p class="book-name"><%= datas.name %></p>
            <p class="autor-name"><%= datas.author %></p>
            <ul class="genre-list">
                <% datas.genres.forEach((genre) => { %>
                    <li class="genre-name"><%= genre %></li>
                <% }); %>
            </ul>
        </div>
    </div>
    <div class="button-menu">
        <div class="availability">
            <img src="/public/img/availability.png" alt="Галочки">
            <p>В наличии</p>
        </div>
        <a class="busket-delete" href="<%= /delete-from-cart/ + datas.ID %>">
            <img src="/public/img/busket-delete.png" alt="Мусорка">
        </a>
        <p class="like-price"><%= datas.price %></p>
        <button class="in-basket">В закладки</button>
    </div>
    <div class="stroke"></div>
</div>

<link rel="stylesheet" href="/public/css/like-card.css">